@font-face {
  font-family :'GmarketSansBold';
  src : url('fonts/GmarketSansTTFBold.ttf');
}

@font-face {
  font-family :'GmarketSansMedium';
  src : url('fonts/GmarketSansTTFMedium.ttf');
}

@font-face {
  font-family :'GmarketSansLight';
  src : url('fonts/GmarketSansTTFLight.ttf');
}

body {
  font-family: 'GmarketSansMedium', sans-serif;
  text-align: center;
  word-break: keep-all;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
  font-family: 'GmarketSansBold', sans-serif;
}

.container-fluid {
  padding: 3% 7%;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.download-button {
  margin: 10px 0;
  font-size: 16px;
}

.colored-section {
  background-color: #F2AAF4;
  color: white;
}

.white-section {
  background-color: white;
  color: black;
}

.colored-section .light-text {
  color: #EEEEEE;
}

.white-section .light-text {
  color: #8f8f8f;
}

/* Navbar */

.navbar {
  margin-bottom: 60px;
  border-bottom: solid 1px #EEEEEE;
}

.nav-item {
  padding: 0 5px;
}

.brand-img {
  display: inline;
  height: 25px;
}


/* Title */

#title {
  text-align: left;
  background: linear-gradient(to top right, #DB1EFF, #4BA4FF);
  padding: 3% 12% 6%;
}

.title-img {
  width: min(80%, 600px);
}

.text-head-bar {
  display: inline;
  height: 50px;
}

/* Feature */

.feature-box {
  padding: 3%;
  max-width: 500px;
  margin: 0 auto;
}

.feature-icon {
  color: #F2AAF4;
  margin-bottom: 10px;
}

.feature-icon:hover {
  color: #DF75E3;
}


/* Photos */

#photos {
  max-width: 1200px;
  padding-top: 0;
}

.photos-img {
  width: 100%;
  margin: 10px;
}

/* Testimonials */

#testimonial-carousel {
  height: 400px;
  width: 100%;
}

.carousel-inner {
  padding: 0 40px;
}

.carousel-control-next, .carousel-control-prev {
  width:auto;
}

.comment-writer {
  font-style: italic;
}

/* Press */

#press {
  max-width: 1200px;
}

.press-logo {
  width: 100%;
  margin: 5%;
}

/* Service */

#service {
  background-color: #EFF0EE;
}

.service-img {
  width: min(100%, 800px);
  display: block;
  margin: 0 auto;
}


/* Footer */

.footer-text {
  text-align: left;
  font-family: 'GmarketSansLight', sans-serif;
  margin-bottom: 0;
  color: #8f8f8f;
  font-size: 0.8rem;
}


@media (max-width: 767.98px) {
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 16px;
  }
  .container-fluid {
    padding: 3% 5%;
  }
  #title {
    padding: 3% 7% 6%;
  }
}
