@font-face {
  font-family :'GmarketSans';
  src : url('fonts/GmarketSansTTFBold.ttf');
}

body {
  font-family: 'GmarketSans', sans-serif;
  text-align: center;
  word-break: keep-all;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 2;
}

nav {
  border-bottom: solid 1px #EEEEEE;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding: 3% 7%;
}

.download-button {
  margin: 20px 0;
}

.colored-section {
  background-color: #F2AAF4;
  color: white;
}

.white-section {
  background-color: white;
  color: black;
}

/* Heading */

.big-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Navbar */

.navbar {
  margin-bottom: 100px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}

.brand-img {
  display: inline;
  height: 45px;
}


/* Title */

#title {
  text-align: left;
  background: linear-gradient(to top right, #DB1EFF, #4BA4FF);
}

#title .container-fluid {
  padding: 5% 12% 8%;
}

.title-img {
  width: min(80%, 600px);
}

.title-col {
  margin-bottom: 20px;
}

.desc-text {
  color: #EEEEEE;
}

.text-head-bar {
  display: inline;
  height: 50px;
}

/* Feature */

#features {
  position: relative;
}

.feature-box {
  padding: 3%;
  max-width: 500px;
  margin: 0 auto;
}

.feature-icon {
  color: #F2AAF4;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #DF75E3;
}

.feature-title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.feature-desc {
  color: #8f8f8f;
}


/* Photos */

#photos .container-fluid {
  max-width: 1200px;
  padding-top: 0;
}

.photos-img {
  width: 100%;
  margin: 10px;
}

/* Testimonials */

#testimonial-carousel {
  height: 400px;
  width: 100%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.comment-writer {
  font-size: 1.2rem;
  color: #EEEEEE;
  font-style: italic;;

}

/* Press */

#press {
  padding-bottom: 3%;
}

#press .container-fluid {
  max-width: 1000px;
}

.press-logo {
  width: 100%;
  margin: 5%;
}

/* Service */

#service {
  background-color: #EDEDEB;
}

.service-img {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.service-desc {
  font-size: 1.2rem;
}


/* Footer */

#footer {
  text-align: left;
}
#footer .container-fluid {
  padding: 3% 7%;
}

.footer-text {
  margin-bottom: 0;
  color: #8f8f8f;
  font-weight: 100;
}

/* Reponsive */

@media (max-width: 992px)  {

  #title {
    text-align: center;
  }

}
